/*box sizing preset*/
html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }
/*BODDY MODIFICATION*/
html { background-color: #aad4cf;
    margin: 0 auto;
font-family: sans-serif;
width: 600pt;
}


/*header  mods*/

header h1{
    font-size: 300%; color: white;
background-image: url(../img/lone-starfish-wide.jpg) ;
position: relative; 
margin-bottom: 0px;
padding-left: 33%; 

  height: 22rem;
 
  /*center text*/
  
  line-height: 30rem;
}
/* Selecting child elements */
nav ul { 
  margin-top: 0px;
    list-style: none;
  }
  /*links*/
nav ul {width: 100%;}
  /*border*/
  nav ul li:nth-child(2){border-left: black 2px solid; border-right: black 2px solid; }
  /*style of link*/
  li a{
      text-decoration: none;
      color: black;   
      font-size: 170%;
      margin-left: 10%; margin-right: 10%;
     ;

  }
 nav ul li { 
   
  /*remove style in li*/
  
    list-style-type: none;
  
  

 /*possition of the links*/
display: inline;
  }


 /*backround of aside*/
 body{
     background-color:rgba(255, 255, 255, 0.3) ;
   
 }
 
 img {
    float: left; padding: 10px  
}
nav{ text-align: center;  


}

/*contact sheet styling*/

  div input {display: block;width: 99%;  
}
  div  {padding-top: 3%;}

div textarea {display: block;width: 99%;}

div { padding-left: 5px;}
/*border*/
aside aside {
  
    border: 2px solid ;margin-right: 15px;
    
  }
  /* button mods */
  button {
    background-color: #aad4cf; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    position: relative; left: 87.4%;
    
  }
  /*hover colors*/
    button:hover{background-color: burlywood;}
    nav ul li:nth-child(1):hover{background-color: burlywood;}
    nav ul li:nth-child(2):hover{background-color: burlywood;}
    nav ul li:nth-child(3):hover{background-color: burlywood;}

    /*footer  spacing*/
    footer { padding-top: 3%;}